.header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 32px;
	padding: 0;
	background: #673AB7;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	z-index: 50;
	display: flex;
	flex-direction: row;
}

.header h1 {
	margin: 0;
	font-size: 0.8em;
	line-height: 32px;
	font-weight: 400;
	color: #FFF;
	margin-left: 30px;
	margin-right: 30px;
}

.header nav {
	font-size: 0.8em;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.header nav a {
	line-height: 32px;
	padding: 0 15px;
	text-align: center;
	background: rgba(255,255,255,0);
	text-decoration: none;
	color: #FFF;
	will-change: background-color;
}

.header nav a:hover,
.header nav a:active {
	background: rgba(0,0,0,0.2);
}

.header nav a.active {
	background: rgba(0,0,0,0.4);
}
